<h1>All articles</h1>
<div>
  <a href="/">&lt; Go to homepage</a>
</div>
<div>
  <a href="/articles/new">&plus; New article</a>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Titles</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <a href="/articles/<%= article.id %>"><%= article.title %></a>
          </td>
          <td>
            <p><%= article.description %></p>
          </td>
          <td>
            <span>Placeholder</span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
