<h1>Article details</h1>
<div>
  <a href="<%= articles_path %>">&lt; Back to list</a>
</div>

<div>
  <p><strong>Title: <%= @article.title %></strong></p>
  <p>Description: <%= @article.description %></p>
</div>
